<div id="fh5co-portfolio">
  <div class="container">
    <div class="row">
      <h2 class="section-top">
        <span class="fas fa-list-alt" aria-hidden="true"></span> 
        マイ筋トレリスト(<%= @lists.count %>)
      </h2>
    </div>
    <% if @lists.present? %>
      <ol class="lists">
        <%= render @lists %>
      </ol>
    <% end %>
  </div>
</div>
