<div id="fh5co-portfolio">
  <div class="container">
    <div class="row">
      <h2 class="section-top">
        <span class="fas fa-bell" aria-hidden="true"></span>
        通知一覧
      </h2>
    </div>
    <% if @notifications.present? %>
      <ol class="notifications">
        <%= render @notifications %>
      </ol>
    <% end %>
  </div>
</div>
