<%= link_to "/favorites/#{@training.id}/create",
            method: :post,
            class: 'favorite',
            remote: true do %>
  <div class="favorite-btn-favorite"><i class="fa fa-heart"></i> お気に入りに登録する</div>
<% end %>
