<%= link_to "/lists/#{@training.id}/create",
            method: :post,
            class: 'list',
            remote: true do %>
    <div class="list-btn-list"><i class="fas fa-list-alt"></i> マイ筋トレリストに追加する</div>
<% end %>
