<%= link_to "/lists/#{@training.id}/create",
            method: :post,
            class: 'list',
            remote: true do %>
  <% if current_user == @training.user %>
    <div class="list-btn-list"><i class="fas fa-list-alt"></i> 筋トレリストに追加する</div>
  <% else %>
    <div class="list-btn-list"><i class="fas fa-utensils"></i> 真似したいリクエストを送る</div>
  <% end %>
<% end %>
