<%= link_to "/favorites/#{@training.id}/destroy",
            method: :delete,
            class: 'unfavorite',
            remote: true do %>
  <div class="favorite-btn-unfavorite"><i class="fa fa-heart"></i> お気に入りに登録済み</div>
<% end %>
