<% list = List.find_by(training_id: @training.id) %>
<%= link_to "/lists/#{list.id}/destroy",
            method: :delete,
            class: 'unlist',
            remote: true do %>
  <div class="list-btn-unlist"><i class="fas fa-list-alt"></i> 筋トレリストに追加済み</div>
<% end %>
